body,html {
    display: block;
    width: 1024px;
    height: 590px;

    padding: 0px;
    margin: 0px;
    overflow: hidden;

    background-color: transparent;
}

#main-container {
    width: 1024px;
    height: 590px;

    background-image:url('./image/contanter_background.png');
    background-repeat:no-repeat;
    margin: 0px auto;
    padding: 15px;
}

header, .header > h1 {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 15px;
    font-size: 20px;
    color: #fcfad0;
}

.owl-wrapper-outer {
    height: 310px;
    border: 5px solid #5b605f;
    border-left: none;
    border-radius: 5px;
}

.owl-content-wrapper {
    display: block;
    width: 590px;
    height: 310px;
    margin-top: 15px;
}

.owl-item > img {
    display: block;
    margin: 0px auto;
    height: auto;
    width: auto;
}

.owl-content-wrapper .active span {
    background-color: #a90641 !important;
    border: 2px solid #5b605f;
}

.owl-content-wrapper span {
    background-color: #464646 !important;
    border: 2px solid #5b605f;
}

.logo {
    display: block;
    width: 90%;
    margin: 0px auto;
    padding-top: 30px;
}

.btn-play{
    display: block;
    margin: 75px auto;
    height: 60px;
    width: 240px;
    background-image:url('./image/play_bnt.png');
}
.btn-play:hover{
    background-image:url('./image/play_bnt_hover.png');
}
.btn-play:active{
    background-image:url('./image/play_bnt_down.png');
}



#news-container {
    display: block;
    padding-top: 20px;
}

#news-container  a {
	font-size: 18px;
}


footer, .footer {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;

    background-image:url('./image/footer.png');
    background-repeat: no-repeat;
    height: 95px;
    width: 1024px;
}


.footer-buttons {
    display: block;
    margin-top: 20px;
}

.footer-buttons a {
    background-repeat: no-repeat;
    height: 65px;
    width: 70px;
    display: inline-block;
    text-decoration: none;
}

.footer-buttons a > .tool-tip,
.footer-buttons a > .tool-tip-pointer {
    display: none;
}
.footer-buttons a:hover > .tool-tip,
.footer-buttons a:hover > .tool-tip-pointer {
    display: block;
}

.btn-cog {
    background-image:url('./image/cog_bnt.png');
}
.btn-cog:hover {
    background-image:url('./image/cog_bnt_hover.png');
}
.btn-cog:active {
    background-image:url('./image/cog_bnt_down.png');
}

.btn-book {
    background-image:url('./image/book_bnt.png');
}
.btn-book:hover {
    background-image:url('./image/book_bnt_hover.png');
}
.btn-book:active {
    background-image:url('./image/book_bnt_down.png');
}

.footer-game-buttons {
    display: block;
    position: relative;
    margin: 0px auto;
    height: auto;
    width: 150px;
}
.footer-game-buttons > a {
    position: relative;
    display: inline-block;
    background-repeat:no-repeat;
}

.footer-game-buttons > a .tool-tip-pointer {
    bottom: 65px;
}
.footer-game-buttons > a:hover .tool-tip-pointer {
    left: 10px;
}

.footer-social-buttons {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.footer-social-buttons > a {
    position: relative;
    display: inline-block;
    height: 55px;
    width: 55px;
    background-repeat:no-repeat;
    float: right;
    margin-left: 10px;
}

.footer-social-buttons > a:hover .tool-tip-pointer {
    left: 7px;
}

.btn-facebook {
    background-image:url('./image/fb_bnt.png');
}
.btn-facebook:hover {
    background-image:url('./image/fb_bnt_hover.png');
}
.btn-facebook:active {
    background-image:url('./image/fb_bnt_down.png');
}

.btn-tvitter {
    background-image:url('./image/tv_bnt.png');
}
.btn-tvitter:hover {
    background-image:url('./image/tv_bnt_hover.png');
}
.btn-tvitter:active {
    background-image:url('./image/tv_bnt_down.png');
}

.btn-youtube {
    background-image:url('./image/ut_bnt.png');
}
.btn-youtube:hover {
    background-image:url('./image/ut_bnt_hover.png');
}
.btn-youtube:active {
    background-image:url('./image/ut_bnt_down.png');
}



.tool-tip {
    width: 975px;
    position: fixed;
    bottom: 110px;
    left: 25px;

    padding: 7px;
    padding-right: 15px;

    border-radius: 10px;
    background-color: #fcfad0;
    border: 0px;

    cursor: normal;

    display: none;
}


.tool-tip-pointer {
    background-color: transparent;
    background-image: url('./image/tool_tip_pointer.png');
    background-repeat: no-repeat;

    width: 43px;
    height: 24px;

    position: absolute;
    bottom: 55px;

    display: none;
}


#close-button {
	display: block;
	position: absolute;
	right: 25px;
	top: 5px;
	margin: 5px;

	width: 27px;
	height: 26px;
	overflow: hidden;

	cursor: pointer;
}

#close-button > a {
	display: block;
	position: relative;

	background-image: url('./image/close_btn.png');
	background-repeat: no-repeat;

	width: 27px;
	height: 26px;

	padding: 0px;
	margin: 0px auto;
	text-align: center;

}

#close-button:hover > a {
	background-image: url('./image/close_btn_hover.png');
}

#close-button:active > a {
	background-image: url('./image/close_btn_down.png');
}
